* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.row{
    margin-left: 164px;
}
.row-top{
    margin-top: 100px;
    margin-bottom: 50px;
}
.row-list{
    margin-top: 60px;
}
.col-top, .col-calc, .col-input, .col-btn, .col-res, .col-load, .col-loader, .col-list{
    padding: 0;
    margin-right: 14px;  
    display: flex;
}
.col-valid{
    padding: 0;
}
.row-invalid{
    margin-top: 8px;
}
::placeholder {
    font-size: 16px;
    line-height: 38px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}
input, input:focus {
    width: 86px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 24px;
    padding-left: 14px;
    outline-width: 0;
}
input:invalid{

    border: 1px solid #D9534F;
    color: #D9534F;

}
.btn{
    background: #0275D8;
    border: 1px solid #0275D8;
    border-radius: 4px;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}
#result{
    margin: 0;
    align-self: center;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: flex-end;
    text-decoration-line: underline;
    color: #373A3C;
}
.head {
    font-size: 72px;
    line-height: 79px;
    font-weight: normal;
    display: flex;
    align-items: flex-end;
    color: #373A3C;
}
.small-head{
    font-size: 54px;
    color: #373A3C;
    font-weight: normal;
}
.calc-text{
    font-weight: normal;
    font-size: 24px;
    color: #373A3C;
    margin: 0;
    display: flex;
    align-items: flex-end;
}
.invalid-feedback.show2{
    display: flex;
}
.invalid-feedback{
    margin-left: 22px;
    height: 33px;
    width: 180px;
    font-size: 16px;
    line-height: 24px;
    color: #A94442;
    background: #F2DEDE;
    border: 1px solid #EBCCCC;
    border-radius: 4px;
    display: none;
}
#spinner{
    visibility: hidden;
    display: none;
    margin-top: 18px;
}
#spinner.show{
    visibility: visible;
    display: inline;
}
#server-error{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: none;
    align-items: center;
    color: #D9534F;
}
#server-error.show3{
    display: flex;
}
ul{
    list-style: none;
    padding: 0;
    font-weight: normal;
    font-size: 24px;
}
hr{
    margin-top: 18px;
    margin-bottom: 24px;
    border-top: 1px solid #000000;
}
#checkbox{
    width: 14px;
    height: 14px;
    border: 1px solid #CCCCCC;
    margin-right: 6px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}